---
import Container from '@c/Container.astro';
import { Image } from 'astro:assets';
import bg from '@i/pr/praction-bg.png';
import image_1 from '@i/pr/praction-1.png';
import image_2 from '@i/pr/praction-2.png';
import image_3 from '@i/pr/praction-3.png';
import image_4 from '@i/pr/praction-4.png';
---

<section
        id='marketing'
        class='py-10 md:py-20 lg:py-28 xl:py-36 laptop:py-50 relative overflow-hidden'>
        <Image
                src={bg}
                alt=''
                class='absolute left-0 bottom-0 md:-bottom-[106%] w-full h-auto object-bottom'
        />
        <Container class='relative mx-auto grid gap-4 grid-cols-1 md:grid-cols-2'>
                <Image
                        src={image_1}
                        alt=''
                        class='w-full h-auto'
                />
                <Image
                        src={image_2}
                        alt=''
                        class='w-full h-auto'
                />
                <Image
                        src={image_3}
                        alt=''
                        class='w-full h-auto'
                />
                <Image
                        src={image_4}
                        alt=''
                        class='w-full h-auto'
                />
        </Container>
</section>
