---
import { Image } from 'astro:assets';
import defaultImageSizes from 'src/utils/defaultImageSizes';
import Container from '@c/Container.astro';
import Box from '@c/na/Box.astro';
import Em from '@c/Em.astro';
import SectionHeading from './SectionHeading.astro';
import ds1 from '@i/na/DS1.png';
import ds2 from '@i/na/DS2.png';
import ds3 from '@i/na/DS3.png';
import overcoming_legacy_1 from '@i/na/overcoming-legacy-1.png';
import overcoming_legacy_2 from '@i/na/overcoming-legacy-2.png';
import overcoming_ds_1 from '@i/na/overcoming-ds-1.png';
import overcoming_ds_2 from '@i/na/overcoming-ds-2.png';
import overcoming_ds_3 from '@i/na/overcoming-ds-3.png';
import overcoming_subscription_1 from '@i/na/overcoming-subscription-1.png';
import overcoming_subscription_2 from '@i/na/overcoming-subscription-2.png';
---

<section
        class='pt-[80px] md:pt-[120px] lg:pt-[180px] pb-[80px] md:pb-[120px] lg:pb-[180px] relative [background:linear-gradient(180deg,#DADADA_0%,#EBEAEA_54%,#D1D1D1_100%)]'
        id='overcoming'>
        <Container class='mx-auto'>
                <SectionHeading number='2'>Overcoming Challenges</SectionHeading>
                <p class='text-brand-grey text-2xl pb-20 tracking-[-0.06rem] lg:text-3xl xl:text-4xl laptop:text-5xl'>
                        Native Access is <Em>the client <span class='italic'>all</span> Native Instruments products depend on.</Em> This proved to be one
                        the <Em>most challenging projects in my design career. Here’s why...</Em>
                </p>
                <Box class='mb-2.5 lg:mb-5 laptop:mb-10 !border-[#a8a8a8] !border-[0.5px]'>
                        <div class='px-2.5 pt-1 pb-8 md:pb-12 lg:pb-16 laptop:pb-20'>
                                <h3 class='text-brand-pink body-text'>Legacy</h3>
                                <p class='text-brand-grey body-text'>
                                        The project started with the <Em
                                                >migration of our Content Delivery Network and the refactoring of our installer’s tooling.</Em
                                        > Communication between <Em>three development teams</Em> was not efficient and <Em
                                                >begged a single source of truth.</Em
                                        > I <Em>built an entity map</Em> which all people from Product could comprehend and reference.
                                </p>
                        </div>
                        <Image
                                src={overcoming_legacy_1}
                                {...defaultImageSizes(overcoming_legacy_1)}
                                alt=''
                                class='rounded-xl mb-2.5'
                        />
                        <Image
                                src={overcoming_legacy_2}
                                {...defaultImageSizes(overcoming_legacy_2)}
                                alt=''
                                class='rounded-xl'
                        />
                </Box>

                <Box class='mb-2.5 lg:mb-5 laptop:mb-10 !border-[#a8a8a8] !border-[0.5px]'>
                        <div class='px-2.5 pt-2.5 pb-6 md:pb-12 lg:pb-16 laptop:pb-20'>
                                <h3 class='text-brand-pink body-text'>Design System Conundrum</h3>
                                <p class='text-brand-grey tracking-[-0.0075rem] body-text'>
                                        There was much debate over whether Native Access was part of the web experience or product experience. I was
                                        one of three designers who built the design system we implemented for Native Access. <Em><u>Lumen</u></Em>,
                                        our product design system, won out given it was more <Em
                                                >modern, more versatile, offered more components and was better documented.</Em
                                        >
                                </p>
                        </div>
                        <div class='px-2.5 laptop:hidden'>
                                <span class='text-brand-grey font-[Roboto] text-[9px] w-[53%] inline-block md:text-[11px]'>
                                        Lumen Design System
                                </span>
                                <span class='text-brand-grey font-[Roboto] text-[9px] md:text-[11px]'> Web Team Design System </span>
                        </div>
                        <Image
                                src={overcoming_ds_1}
                                {...defaultImageSizes(overcoming_ds_1)}
                                alt=''
                                class='rounded-xl mb-2 laptop:hidden'
                        />
                        <Image
                                class='hidden laptop:block pb-5'
                                src={ds1}
                                alt='Design System 1'
                        />
                        <Image
                                src={overcoming_ds_2}
                                {...defaultImageSizes(overcoming_ds_2)}
                                alt=''
                                class='rounded-xl mb-2 laptop:hidden'
                        />
                        <Image
                                class='hidden laptop:block pb-5'
                                src={ds2}
                                alt='Design System 2'
                        />
                        <Image
                                src={overcoming_ds_3}
                                {...defaultImageSizes(overcoming_ds_3)}
                                alt=''
                                class='rounded-xl laptop:hidden'
                        />
                        <Image
                                class='hidden laptop:block pb-5'
                                src={ds3}
                                alt='Design System 3'
                        />
                </Box>

                <Box
                        class='mb-2.5 xl:grid [grid-template-columns:1fr_1fr] [grid-template-rows:1fr_1fr] xl:pb-0 laptop:pb-0 lg:mb-5 laptop:mb-10 laptop:h-[595px] !border-[#a8a8a8] !border-[0.5px]'>
                        <div
                                class='px-2.5 pt-2.5 pb-2.5 xl:[grid-area:1/2/2/3]'
                                id='subscription'>
                                <h3 class='text-brand-pink leading-normal pb-1 body-text'>Subscription</h3>
                                <p class='text-brand-grey tracking-[-0.0075rem] body-text'>
                                        Nearly a year into development of Native Access there was a top-down company-wide decision to roll out a
                                        subscription model. We were already falling behind on our ambitious roadmap.
                                        <br />
                                        <br />
                                        <Em
                                                >We delivered a 5000 user beta of subscription through Native Access, coordinating across twelve
                                                inter-disciplinary teams.</Em
                                        >
                                </p>
                        </div>
                        <Image
                                src={overcoming_subscription_1}
                                {...defaultImageSizes(overcoming_subscription_1)}
                                alt=''
                                class='rounded-xl xl:[grid-area:1/1/4/4] xl:-translate-y-13 xl:-translate-x-5 laptop:-translate-y-24 laptop:-translate-x-13'
                        />
                </Box>

                <Box class='!border-[#a8a8a8] !border-[0.5px]'>
                        <div class='px-2.5 pt-2.5 pb-2.5 md:pb-5 lg:pb-10 xl:pb-12 laptop:pb-15 '>
                                <h3 class='text-brand-pink leading-normal pb-1 body-text'>Single Journey of Truth - Subscription</h3>
                                <p class='text-brand-grey tracking-[-0.0075rem] body-text'>
                                        I fixed a gap in communication between teams. Company-wide the subscription project was becoming out of sync.
                                        Redundant meetings and wasted work ensued.
                                        <br /><br />
                                        <Em
                                                >I solved this by creating a <a
                                                        href='/img/Subscription Single Source of Truth.pdf'
                                                        target='_blank'
                                                        ><u>board showcasing the latest</u></a
                                                > userflows across all touchpoints</Em
                                        > including lanes where each team kept updated notes on what they’re building and how.
                                </p>
                        </div>
                        <div class='relative py-3'>
                                <a
                                        href='/img/Subscription Single Source of Truth.pdf'
                                        target='_blank'>
                                       
                                        <Image
                                                src={overcoming_subscription_2}
                                                {...defaultImageSizes(overcoming_subscription_2)}
                                                alt=''
                                                class='rounded-xl shadow-[50px_0px_30px_20px_rgba(0,0,0,0.1)]'
                                        />
                                <Image
                                        src={overcoming_subscription_2}
                                        {...defaultImageSizes(overcoming_subscription_2)}
                                        alt=''
                                        class='absolute rounded-xl top-0 -left-7 min-w-[101vw] laptop:min-w-[103vw] laptop:max-h-full laptop:-left-[172px] 2xl:-left-[calc(((100vw-1440px)/2)+75px)] md:-left-[calc(((100vw-640px)/2)+34px)] lg:-left-[calc(((100vw-814px)/2))] xl:-left-[calc(((100vw-1137px)/2)+40px)]'
                                />
                        </a>

                        </div>
                </Box>
        </Container>
</section>
