---
import { marked } from 'marked';
import Container from '@c/Container.astro';
import Icon from '@c/Icon.astro';
import { Image } from 'astro:assets';
import SpeechBubble from '@c/SpeechBubble.astro';
import SectionHeading from '@c/na/SectionHeading.astro';
import PainsHeading from './PainsHeading.astro';
import dmBg from '@i/na/pains-dm-bg.png';
import dmFg from '@i/na/pains-dm-fg.png';
---

<section
        id='pains'
        class='pt-20 md:pt-40 pb-1 md:pb-12 lg:pb-20 2xl:pb-20 [background:linear-gradient(180deg,#EBEBEB_0%,#BCBCBC_12.5%,#C3C3C3_50%,#C3C3C3_87%,#EAEAEA_99%)]'>
        <Container class='mx-auto'>
                <SectionHeading number='1'>Pains, Requirements & My Solutions</SectionHeading>
                <p class='text-brand-grey text-2xl pb-12 tracking-[-0.06rem] lg:text-3xl xl:text-4xl laptop:text-5xl'>
                        I designed solutions
                        <span
                                class='rounded-full bg-brand-emerald w-[22px] xl:h-10 xl:w-10 laptop:w-11 h-[22px] laptop:h-11 inline-flex justify-center items-center'
                                ><Icon
                                        name='bulb'
                                        class='w-auto h-3.5 md:h-4 xl:h-9 2xl:h-7 text-white'
                                /></span
                        >

                        to put in front of users. On my plate were pre-existing <em class='not-italic text-black'>pain points</em>
                        <span
                                class='rounded-full bg-brand-red w-[22px] xl:h-10 xl:w-10 laptop:w-11 h-[22px] laptop:h-11 inline-flex justify-center items-center text-white text-xs xl:text-xl laptop:text-2xl -translate-y-1/4'
                                >#</span
                        >, <em class='not-italic text-black'>feature parity</em>, and the Director’s new requirements to <em
                                class='not-italic text-black'
                                >increase traffic to webstore
                                <span
                                        class='rounded-full bg-brand-blue w-[22px] xl:h-10 xl:w-10 laptop:w-11 h-[22px] laptop:h-11 inline-flex justify-center items-center'
                                        ><Icon
                                                name='compass'
                                                class='w-auto h-3.5 xl:h-9 2xl:h-7 text-white'
                                        /></span
                                >.</em
                        >
                </p>

                <div class='flex pb-14 text-[0.8125rem] md:text-sm lg:text-base xl:text-lg laptop:text-xl'>
                        <div class='flex-1 md:basis-64 md:flex-grow-0 flex-shrink-0'>
                                <h3 class='text-brand-grey'>Prototypes</h3>
                                <ul>
                                        <li>Dev build</li>
                                        <li>Figma Prototypes</li>
                                        <li>Mocks</li>
                                </ul>
                        </div>
                        <div class='flex-1'>
                                <h3 class='text-brand-grey'>User Test</h3>
                                <ul>
                                        <li>4 Newcomers</li>
                                        <li>2 Hobbyists</li>
                                        <li>2 Power users</li>
                                </ul>
                        </div>
                </div>
        </Container>

        <Container class='mx-auto 2xl:max-w-[1560px]'>
                <div
                        class="[background:url('/img/na/texture.png')_repeat,linear-gradient(180deg,#E7E7E7_0%,#E7E7E7_0.01%,#BFBFBF_100%)] rounded-t-3xl xl:rounded-t-[2rem] laptop:rounded-t-[3rem] p-2.5 pb-16 laptop:pt-6 laptop:px-6">
                        <PainsHeading
                                indicator='1'
                                class='max-w-[65%]'>
                                “I don’t understand product dependencies like KONTAKT Player and REAKTOR Player.”
                        </PainsHeading>
                        <div class='relative mx-auto max-w-[1300px]'>
                                <img
                                        src='/img/na/pains-1.png'
                                        alt='REAKTOR Player window thumbnail'
                                        class='w-full h-auto aspect-[6/4] mx-auto'
                                />
                                <SpeechBubble
                                        class='absolute -right-1 top-0 md:right-0 md:top-[24%] -translate-y-1/2 lg:top-[30%] lg:right-[1%] 2xl:right-[1%] 2xl:top-[30%]'
                                        icon='bulb'
                                        direction='right'
                                        bubble='bottom-left'
                                        iconBg='bg-brand-emerald'>
                                        <div set:html={marked.parse(`**Icon** indicating **dependency**`)} />
                                </SpeechBubble>
                                <SpeechBubble
                                        class='absolute left-1 -bottom-2.5 -translate-y-[100%] sm:bottom-[5%] md:bottom-[10%] lg:bottom-[7%] 2xl:-left-10 2xl:bottom-[10%]'
                                        innerClass=' 2xl:pr-16'
                                        icon='bulb'
                                        direction='left'
                                        bubble='top-right'
                                        iconBg='bg-brand-emerald'>
                                        <div
                                                class='pr-3'
                                                set:html={marked.parse(
                                                        `**Detect** if the user is attempting to install a<br>product which **requires a framework**`,
                                                )}
                                        />
                                </SpeechBubble>
                        </div>
                </div>
        </Container>
        <Container class='-mt-6 mx-auto 2xl:max-w-[1560px]'>
                <div
                        class="[background:url('/img/na/texture.png')_repeat,linear-gradient(180deg,#E7E7E7_0%,#E7E7E7_0.01%,#BFBFBF_100%)] rounded-t-3xl xl:rounded-t-[2rem] laptop:rounded-t-[3rem] p-2.5 pb-10 laptop:pt-6 laptop:px-6">
                        <PainsHeading indicator='2'>“I don’t understand my KOMPLETE bundle and its products.”</PainsHeading>
                        <div class='pb-24 relative mx-auto max-w-[1300px] lg:pb-40'>
                                <div class='relative xl:pb-8'>
                                        <img
                                                src='/img/na/pains-2-a.png'
                                                alt='Webshop product page'
                                                class='w-full h-auto object-contain xl:hidden'
                                        />
                                        <img
                                                src='/img/na/pains-2-a-desktop.png'
                                                alt='Webshop product page'
                                                class='w-full h-auto object-contain hidden xl:block'
                                        />
                                        <img
                                                src='/img/na/pains-2-b.png'
                                                alt='Webshop product page'
                                                class='absolute left-[57.5%] w-[40%] top-[29%] rounded h-auto [filter:drop-shadow(-3.5px_-3.25px_6.075px_rgba(0,0,0,0.26))_drop-shadow(6px_9.5px_11.95px_rgba(0,0,0,0.29))] xl:hidden'
                                        />
                                        <img
                                                src='/img/na/pains-2-b-desktop.png'
                                                alt='Webshop product page'
                                                class='absolute left-[57.5%] w-[40%] top-[29%] rounded h-auto [filter:drop-shadow(-3.5px_-3.25px_6.075px_rgba(0,0,0,0.26))_drop-shadow(6px_9.5px_11.95px_rgba(0,0,0,0.29))] hidden xl:block'
                                        />
                                        <img
                                                src='/img/na/pains-2-c.png'
                                                alt='Webshop product page'
                                                class='absolute w-[30%] left-[61%] rounded h-auto top-[117%] xl:hidden'
                                        />
                                        <SpeechBubble
                                                class='absolute left-1.5 top-0 -translate-y-1/2 w-[70%] sm:translate-y-0 sm:top-1 sm:-translate-y-1/2 md:-translate-y-[30%] 2xl:-left-4 2xl:top-2'
                                                innerClass='2xl:max-w-[27.5rem] 2xl:pr-3'
                                                icon='bulb'
                                                direction='left'
                                                bubble={null}
                                                iconBg='bg-brand-emerald'>
                                                <div
                                                        set:html={marked.parse(
                                                                `**Aligned metadata** for searching across web, download client, and browser application`,
                                                        )}
                                                />
                                        </SpeechBubble>
                                </div>
                        </div>
                        <div class='flex flex-col gap-1 relative pb-5 xl:pb-24'>
                                <img
                                        alt='keywords'
                                        src='/img/na/pains-2-d-desktop.png'
                                        width='1300'
                                        height='93'
                                        class='hidden xl:block mx-auto'
                                />
                                <img
                                        src='/img/na/pains-2-d.png'
                                        alt='DESKTOP APPLICATION'
                                        class='xl:hidden'
                                />

                                <SpeechBubble
                                        class='absolute left-1.5 top-0 -translate-y-[88%]'
                                        icon='bulb'
                                        direction='left'
                                        bubble={null}
                                        iconBg='bg-brand-emerald'>
                                        <div set:html={marked.parse(`Similarly, we **aligned category metadata across platforms**`)} />
                                </SpeechBubble>
                        </div>
                        <div class='flex flex-col gap-1 relative pb-5 xl:hidden'>
                                <img
                                        src='/img/na/pains-2-e.png'
                                        alt='WEBSHOP'
                                />
                        </div>
                        <div class='flex flex-col gap-1 relative pb-14 xl:hidden'>
                                <img
                                        src='/img/na/pains-2-f.png'
                                        alt='UNIVERSAL BROWSER'
                                />
                        </div>
                        <div class='relative mx-auto max-w-[1300px] pb-14 xl:pb-28'>
                                <img
                                        src='/img/na/pains-exploration.png'
                                        alt=''
                                        class='[filter:drop-shadow(0px_4.4px_99px_rgba(0,0,0,0.34))]'
                                />
                                <SpeechBubble
                                        class='absolute left-[18%] bottom-[5%] md:top-36 -translate-y-[65%] w-[60%] md:left-[36%] lg:left-[unset] lg:right-0 lg:bottom-[33%] lg:w-auto xl:top-[24%]'
                                        icon='bulb'
                                        direction='left lg:right'
                                        innerClass='lg:pl-6 xl:pl-8'
                                        bubble={null}
                                        iconBg='bg-brand-emerald'>
                                        <div set:html={marked.parse(`**Exploration** page with swim lanes containing intelligent suggestions`)} />
                                </SpeechBubble>
                        </div>
                </div>
        </Container>
        <Container class='-mt-6 mx-auto 2xl:max-w-[1560px]'>
                <div
                        class="[background:url('/img/na/texture.png')_repeat,linear-gradient(180deg,#E7E7E7_0%,#E7E7E7_0.01%,#BFBFBF_100%)] rounded-t-3xl xl:rounded-t-[2rem] laptop:rounded-t-[3rem] p-2.5 pb-16 laptop:pt-6 laptop:px-6">
                        <PainsHeading indicator='3'> “Installation of third-party products is confusing...” </PainsHeading>
                        <div class='relative mx-auto max-w-[1000px] laptop:pt-10 laptop:mb-16'>
                                <img
                                        src='/img/na/pains-3.png'
                                        alt=''
                                        class='[filter:drop-shadow(0_2vw_4vw_rgba(0,0,0,0.3))]'
                                />
                                <SpeechBubble
                                        class='absolute left-9 top-0 -translate-y-[20%] sm:left-30 sm:top-0 sm:-translate-y-[20%] sm:left-50 md:top-0 md:-translate-y-[20%] md:left-20 xl:top-10'
                                        icon='bulb'
                                        direction='left'
                                        bubble='bottom-right'
                                        iconBg='bg-brand-emerald'>
                                        <div set:html={marked.parse(`**Onboarding**`)} />
                                </SpeechBubble>
                                <SpeechBubble
                                        class='absolute right-1.5 bottom-3 -translate-y-[65%] laptop:right-0 laptop:translate-x-[37%]'
                                        icon='bulb'
                                        direction='right'
                                        bubble='top-left'
                                        iconBg='bg-brand-emerald'>
                                        <div set:html={marked.parse(`Workflow for **locating missing products**`)} />
                                </SpeechBubble>
                        </div>
                </div>
        </Container>

        <Container class='-mt-6 mx-auto 2xl:max-w-[1560px]'>
                <div
                        class="[background:url('/img/na/texture.png')_repeat,linear-gradient(180deg,#E7E7E7_0%,#E7E7E7_0.01%,#BFBFBF_100%)] rounded-t-3xl xl:rounded-t-[2rem] laptop:rounded-t-[3rem] p-2.5 pb-16 laptop:pt-6 laptop:px-6">
                        <PainsHeading indicator='4'> “I want more info on the products I own.” </PainsHeading>
                        <div class='mx-auto max-w-[1050px] laptop:pt-16 laptop:pb-16'>
                                <div class='relative'>
                                        <img
                                                src='/img/na/pains-4.png'
                                                alt=''
                                                class='[filter:drop-shadow(0_2vw_4vw_rgba(0,0,0,0.3))]'
                                        />
                                        <SpeechBubble
                                                class='absolute left-1.5 top-0 -translate-y-[10%] laptop:top-[3.5%] laptop:-left-0 laptop:-translate-x-[24%]'
                                                icon='bulb'
                                                direction='left'
                                                bubble={null}
                                                iconBg='bg-brand-emerald'>
                                                <div set:html={marked.parse(`A **Product Detail page** with...`)} />
                                        </SpeechBubble>
                                        <SpeechBubble
                                                class='absolute right-2.5 top-[29%] md:right-[20%] md:top-[30%]'
                                                icon='bulb'
                                                direction='right'
                                                bubble='bottom-left'
                                                iconBg='bg-brand-emerald'>
                                                <div set:html={marked.parse(`**Audio Previews**`)} />
                                        </SpeechBubble>
                                        <SpeechBubble
                                                class='absolute left-5 top-[46.5%] laptop:top-[40%] laptop:left-[10%] lg:right:-[10%]'
                                                icon='bulb'
                                                direction='left'
                                                bubble='bottom-right'
                                                iconBg='bg-brand-emerald'>
                                                <div set:html={marked.parse(`**GUI Screenshots**`)} />
                                        </SpeechBubble>
                                        <SpeechBubble
                                                class='absolute right-11 top-[60%] laptop:right-[17%] laptop:top-[59%]'
                                                icon='bulb'
                                                direction='left'
                                                bubble='top-right'
                                                iconBg='bg-brand-emerald'>
                                                <div set:html={marked.parse(`**Resources**`)} />
                                        </SpeechBubble>
                                        <SpeechBubble
                                                class='absolute left-[46.5%] top-[75%] laptop:left-[39%] laptop:top-[76%]'
                                                icon='bulb'
                                                direction='right'
                                                bubble='bottom-left'
                                                iconBg='bg-brand-emerald'>
                                                <div set:html={marked.parse(`**Related Products**`)} />
                                        </SpeechBubble>
                                </div>
                        </div>
                </div>
        </Container>

        <Container class='-mt-6 mx-auto 2xl:max-w-[1560px]'>
                <div
                        class="[background:url('/img/na/texture.png')_repeat,linear-gradient(180deg,#E7E7E7_0%,#E7E7E7_0.01%,#BFBFBF_100%)] rounded-t-3xl xl:rounded-t-[2rem] laptop:rounded-t-[3rem] p-2.5 pb-10 laptop:pt-6 laptop:px-6">
                        <PainsHeading indicator='5'> “No overview or progress of downloads” </PainsHeading>
                        <div class='mb-12 mx-auto max-w-[1440px] laptop:pt-12'>
                                <div class='relative'>
                                        <img
                                                src='/img/na/pains-5.png'
                                                alt=''
                                                class='[filter:drop-shadow(0_2vw_4vw_rgba(0,0,0,0.3))]'
                                        />
                                        <SpeechBubble
                                                class='absolute right-60 top-0 -translate-y-[25%] laptop:-translate-y-1/2 laptop:right-[21.5%]'
                                                icon='bulb'
                                                innerClass='laptop:pl-8'
                                                direction='left laptop:right'
                                                bubble={null}
                                                iconBg='bg-brand-emerald'>
                                                <div set:html={marked.parse(`**Download Manager**`)} />
                                        </SpeechBubble>
                                        <SpeechBubble
                                                class='absolute right-0 top-[60%] laptop:top-[63.3%] laptop:right-[14%]'
                                                icon='bulb'
                                                direction='right'
                                                bubble='bottom-left'
                                                iconBg='bg-brand-emerald'>
                                                <div set:html={marked.parse(`**Download progress drawer** in main app`)} />
                                        </SpeechBubble>
                                        <SpeechBubble
                                                class='absolute left-1.5 bottom-0 translate-y-1/2 laptop:bottom-[unset] laptop:top-[31%] laptop:left-0 laptop:translate-x-[-15%]'
                                                icon='bulb'
                                                direction='left'
                                                bubble='top-right'
                                                iconBg='bg-brand-emerald'>
                                                <div set:html={marked.parse(`Ability to **sort** hundreds of **download items**`)} />
                                        </SpeechBubble>
                                </div>
                        </div>
                </div>
        </Container>

        <Container class='-mt-6 mx-auto 2xl:max-w-[1560px]'>
                <div
                        class="[background:url('/img/na/texture.png')_repeat,linear-gradient(180deg,#E7E7E7_0%,#E7E7E7_0.01%,#BFBFBF_100%)] rounded-b-3xl rounded-t-3xl xl:rounded-t-[2rem] xl:rounded-b-[2rem] laptop:rounded-t-[3rem] laptop:rounded-b-[3rem] p-2.5 pb-24 laptop:pt-6 laptop:px-6">
                        <div class='flex gap-2.5 items-center mb-[2.875rem]'>
                                <span
                                        class='h-[30px] bg-brand-blue rounded-full w-[30px] flex items-center justify-center xl:h-10 xl:w-10 laptop:h-12 laptop:w-12'
                                        ><Icon
                                                name='compass'
                                                class='text-white h-auto md:w-6 lg:w-7 xl:w-8'
                                        /></span
                                >
                                <p
                                        id='webshop'
                                        class='text-[11px] text-brand-secondary-text font-[Roboto] md:text-[0.8125rem] lg:text-base xl:text-lg laptop:text-xl'>
                                        “I want to funnel users from the download portal to the online store.”
                                </p>
                        </div>
                        <div class='mx-auto max-w-[1440px] laptop:pt-4'>
                                <div class='relative'>
                                        <img
                                                src='/img/na/pains-no-previews.png'
                                                alt=''
                                                class='[filter:drop-shadow(0_2vw_4vw_rgba(0,0,0,0.3))] lg:hidden'
                                        />
                                        <div
                                                class='hidden lg:grid [grid-template-columns:51.5%_31.8%_16.6%] [grid-template-rows:41.5%_41.5%_17%] w-full h-auto'>
                                                <Image
                                                        src={dmBg}
                                                        alt=''
                                                        width='1050'
                                                        height='920'
                                                        class='w-full rounded-3xl'
                                                        style='grid-area:1/1/3/3'
                                                />
                                                <Image
                                                        src={dmFg}
                                                        alt=''
                                                        width='700'
                                                        height='450'
                                                        style='grid-area:2/2/4/4'
                                                        class='w-full overflow-hidden rounded-3xl [filter:drop-shadow(0_2vw_4vw_rgba(0,0,0,0.3))]'
                                                />
                                        </div>
                                        <SpeechBubble
                                                class='absolute left-2 top-0 -translate-y-[85%] laptop:top-[29.5%] left-[8.5%]'
                                                icon='bulb'
                                                direction='left'
                                                bubble='top-right'
                                                iconBg='bg-brand-emerald'>
                                                <div set:html={marked.parse(`**Upsell notifications** for new releases and suggested content `)} />
                                        </SpeechBubble>
                                        <SpeechBubble
                                                class='absolute right-[17%] top-[41.5%] laptop:top-[45.5%] laptop:right-[21%]'
                                                icon='bulb'
                                                direction='right'
                                                bubble='bottom-left'
                                                iconBg='bg-brand-emerald'>
                                                <div set:html={marked.parse(`**Go To Shop** link`)} />
                                        </SpeechBubble>
                                        <SpeechBubble
                                                class='absolute left-2 bottom-0 translate-y-2/3 laptop:bottom-[7.5%] laptop:left-[6%]'
                                                icon='bulb'
                                                direction='left'
                                                bubble={null}
                                                iconBg='bg-brand-emerald'>
                                                <div set:html={marked.parse(`**Exploration Page** [shown above]`)} />
                                        </SpeechBubble>
                                </div>
                        </div>
                </div>
        </Container>

        <Container class='pt-8 pb-20 mx-auto'>
                <p class='text-brand-grey text-xl tracking-[-0.05rem] pb-3 md:text-2xl lg:text-3xl xl:text-4xl laptop:text-5xl'>
                        <em class='not-italic text-black'>The solutions</em> were received very well.<br />
                        <em class='not-italic text-black'>For each feature</em>...<br />
                        <em class='not-italic text-black'>8+ out of 10</em> responded they <em class='not-italic text-black'>“would use.”</em><br />
                        <em class='not-italic text-black'>7+ out of 10</em> responded they <em class='not-italic text-black'>“love it.”</em>
                </p>
                <p class='text-brand-grey tracking-[-0.0125rem] text-[11px] md:text-xs lg:text-base xl:text-lg laptop:text-xl'>
                        The designs were then broken into Epics and Stories and <em class='not-italic text-black'
                                >arranged by priority in the backlog.</em
                        >
                </p>
        </Container>
</section>
