---
import { Image } from 'astro:assets';
import defaultImageSizes from 'src/utils/defaultImageSizes';
import Container from '@c/Container.astro';
import Em from '@c/Em.astro';
import SectionHeading from './SectionHeading.astro';
import WireframeRail from './WireframeRail.astro';
import wireframe_15 from '@i/na/wireframe-15.png';
import wireframe_16 from '@i/na/wireframe-16.png';
import wireframe_17 from '@i/na/wireframe-17.png';
import wireframe_14 from '@i/na/wireframe-14.png';
import wireframe_13 from '@i/na/wireframe-13.png';
import wireframe_12 from '@i/na/wireframe-12.png';
import wireframe_11 from '@i/na/wireframe-11.png';
import wireframe_10 from '@i/na/wireframe-10.png';
import wireframe_9 from '@i/na/wireframe-9.png';
import wireframe_8 from '@i/na/wireframe-8.png';
import wireframe_7 from '@i/na/wireframe-7.png';
import wireframe_6 from '@i/na/wireframe-6.png';
import wireframe_5 from '@i/na/wireframe-5.png';
import wireframe_4 from '@i/na/wireframe-4.png';
import wireframe_3 from '@i/na/wireframe-3.png';
import wireframe_2 from '@i/na/wireframe-2.png';
import wireframe_1 from '@i/na/wireframe-1.png';
import wireframe_1_1 from '@i/na/wireframes/wireframe-1-1.png';
import wireframe_1_2 from '@i/na/wireframes/wireframe-1-2.png';
import wireframe_1_3 from '@i/na/wireframes/wireframe-1-3.png';
import wireframe_1_4 from '@i/na/wireframes/wireframe-1-4.png';
import wireframe_1_5 from '@i/na/wireframes/wireframe-1-5.png';
import wireframe_1_6 from '@i/na/wireframes/wireframe-1-6.png';
import wireframe_1_7 from '@i/na/wireframes/wireframe-1-7.png';
import wireframe_1_8 from '@i/na/wireframes/wireframe-1-8.png';

import wireframe_2_1 from '@i/na/wireframes/wireframe-2-1.png';
import wireframe_2_2 from '@i/na/wireframes/wireframe-2-2.png';
import wireframe_2_3 from '@i/na/wireframes/wireframe-2-3.png';
import wireframe_2_4 from '@i/na/wireframes/wireframe-2-4.png';
import wireframe_2_5 from '@i/na/wireframes/wireframe-2-5.png';
import wireframe_2_6 from '@i/na/wireframes/wireframe-2-6.png';
import wireframe_2_7 from '@i/na/wireframes/wireframe-2-7.png';
import wireframe_2_8 from '@i/na/wireframes/wireframe-2-8.png';

import wireframe_3_1 from '@i/na/wireframes/wireframe-3-1.png';
import wireframe_3_2 from '@i/na/wireframes/wireframe-3-2.png';
import wireframe_3_3 from '@i/na/wireframes/wireframe-3-3.png';
import wireframe_3_4 from '@i/na/wireframes/wireframe-3-4.png';
import wireframe_3_5 from '@i/na/wireframes/wireframe-3-5.png';
import wireframe_3_6 from '@i/na/wireframes/wireframe-3-6.png';
import wireframe_3_7 from '@i/na/wireframes/wireframe-3-7.png';
import wireframe_3_8 from '@i/na/wireframes/wireframe-3-8.png';

import wireframe_4_1 from '@i/na/wireframes/wireframe-4-1.png';
import wireframe_4_2 from '@i/na/wireframes/wireframe-4-2.png';
import wireframe_4_3 from '@i/na/wireframes/wireframe-4-3.png';
import wireframe_4_4 from '@i/na/wireframes/wireframe-4-4.png';
import wireframe_4_5 from '@i/na/wireframes/wireframe-4-5.png';
import wireframe_4_6 from '@i/na/wireframes/wireframe-4-6.png';
import wireframe_4_7 from '@i/na/wireframes/wireframe-4-7.png';
import wireframe_4_8 from '@i/na/wireframes/wireframe-4-8.png';

import wireframe_5_1 from '@i/na/wireframes/wireframe-5-1.png';
import wireframe_5_2 from '@i/na/wireframes/wireframe-5-2.png';
import wireframe_5_3 from '@i/na/wireframes/wireframe-5-3.png';
import wireframe_5_4 from '@i/na/wireframes/wireframe-5-4.png';
import wireframe_5_5 from '@i/na/wireframes/wireframe-5-5.png';
import wireframe_5_6 from '@i/na/wireframes/wireframe-5-6.png';
import wireframe_5_7 from '@i/na/wireframes/wireframe-5-7.png';
import wireframe_5_8 from '@i/na/wireframes/wireframe-5-8.png';


---

<style>
        .rails img {
                width: 60vw;
                box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
                @apply aspect-video h-auto rounded-lg border border-brand-grey lg:h-[16rem] lg:object-cover lg:[aspect-ratio:unset] laptop:h-[22.5rem];
        }
</style>
<section class='overflow-x-hidden pt-6 md:pt-40 pb-4 2xl:pb-20 md:pb-14 lg:pb-16'
        id="building"
        >
        <Container class='py-20 mx-auto'>
                <SectionHeading number='3'>Building Wireframes</SectionHeading>

                <p class='text-brand-grey text-2xl pb-12 tracking-[-0.06rem] lg:text-3xl xl:text-4xl laptop:text-5xl/[1.2]'>
                        With clear pain points and stakeholder requirements, it was easy to mock an <Em>MVP for the developers</Em> to start building.
                        Meanwhile the <Em>Alpha Group and I continued to explore features and refine solutions</Em>. And finally, <Em
                                >I put on my Design System hat and began culling Components and Patterns</Em
                        > we’d need to add to Lumen.
                </p>

                <div class='pb-8 body-text'>
                        <h3 class='text-brand-grey'>Elements</h3>
                        <div class='flex'>
                                <ul class='flex-1'>
                                        <li>Sidebar</li>
                                        <li>Content Area</li>
                                        <li>Tiles / List</li>
                                        <li>Filters</li>
                                </ul>

                                <ul class='flex-1'>
                                        <li>Preferences</li>
                                        <li>Dialogs</li>
                                        <li>Product Detail Page</li>
                                        <li>Search</li>
                                        <li>Download Manager</li>
                                </ul>
                        </div>
                </div>
        </Container>

        <div class='w-full rails pb-20'>
                <WireframeRail class='-translate-x-[87%] lg:-translate-x-[5%] laptop:-translate-x-0 marquee-slides-alter'>
                    <Image
                        src={wireframe_1_1}
                        {...defaultImageSizes(wireframe_1_1)}
                        alt=''                        
                        class='h-auto w-full'
                    />
                    <Image
                        src={wireframe_1_2}
                        {...defaultImageSizes(wireframe_1_2)}
                        alt=''              
                    />
                    <Image
                        src={wireframe_1_3}
                        {...defaultImageSizes(wireframe_1_3)}
                        alt=''                        
                    />
                    <Image
                        src={wireframe_1_4}
                        {...defaultImageSizes(wireframe_1_4)}
                        alt=''
                    />
                    <Image
                        src={wireframe_1_5}
                        {...defaultImageSizes(wireframe_1_5)}
                        alt=''
                    />
                    <Image
                        src={wireframe_1_6}
                        {...defaultImageSizes(wireframe_1_6)}
                        alt=''
                    />
                    <Image
                        src={wireframe_1_7}
                        {...defaultImageSizes(wireframe_1_7)}
                        alt=''
                    />
                    <Image
                        src={wireframe_1_8}
                        {...defaultImageSizes(wireframe_1_8)}
                        alt=''
                    />
                </WireframeRail>
                <WireframeRail class='-translate-x-[130%] lg:-translate-x-[19%] marquee-slides'>
                    <Image
                        src={wireframe_2_1}
                        {...defaultImageSizes(wireframe_2_1)}
                        alt=''
                    />
                    <Image
                        src={wireframe_2_2}
                        {...defaultImageSizes(wireframe_2_2)}
                        alt=''
                    />
                    <Image
                        src={wireframe_2_3}
                        {...defaultImageSizes(wireframe_2_3)}
                        alt=''
                    />
                    <Image
                        src={wireframe_2_4}
                        {...defaultImageSizes(wireframe_2_4)}
                        alt=''
                    />
                    <Image
                        src={wireframe_2_5}
                        {...defaultImageSizes(wireframe_2_5)}
                        alt=''
                    />
                    <Image
                        src={wireframe_2_6}
                        {...defaultImageSizes(wireframe_2_6)}
                        alt=''
                    />
                    <Image
                        src={wireframe_2_7}
                        {...defaultImageSizes(wireframe_2_7)}
                        alt=''
                    />
                    <Image
                        src={wireframe_2_8}
                        {...defaultImageSizes(wireframe_2_8)}
                        alt=''
                    />
                </WireframeRail>
                <WireframeRail class='-translate-x-[85%] md:-translate-x-[39%] lg:-translate-x-[5%] laptop:-translate-x-0 marquee-slides-alter'>
                    <Image
                        src={wireframe_3_1}
                        {...defaultImageSizes(wireframe_3_1)}
                        alt=''
                    />
                    <Image
                        src={wireframe_3_2}
                        {...defaultImageSizes(wireframe_3_2)}
                        alt=''
                    />
                    <Image
                        src={wireframe_3_3}
                        {...defaultImageSizes(wireframe_3_3)}
                        alt=''
                    />
                    <Image
                        src={wireframe_3_4}
                        {...defaultImageSizes(wireframe_3_4)}
                        alt=''
                    />
                    <Image
                        src={wireframe_3_5}
                        {...defaultImageSizes(wireframe_3_5)}
                        alt=''
                    />
                    <Image
                        src={wireframe_3_6}
                        {...defaultImageSizes(wireframe_3_6)}
                        alt=''
                    />
                    <Image
                        src={wireframe_3_7}
                        {...defaultImageSizes(wireframe_3_7)}
                        alt=''
                    />
                    <Image
                        src={wireframe_3_8}
                        {...defaultImageSizes(wireframe_3_8)}
                        alt=''
                    />
                </WireframeRail>
                <WireframeRail class='-translate-x-[130%] lg:-translate-x-[19%] marquee-slides'>
                    <Image
                        src={wireframe_4_1}
                        {...defaultImageSizes(wireframe_4_1)}
                        alt=''
                    />
                    <Image
                        src={wireframe_4_2}
                        {...defaultImageSizes(wireframe_4_2)}
                        alt=''
                    />
                    <Image
                        src={wireframe_4_3}
                        {...defaultImageSizes(wireframe_4_3)}
                        alt=''
                    />
                    <Image
                        src={wireframe_4_4}
                        {...defaultImageSizes(wireframe_4_4)}
                        alt=''
                    />
                    <Image
                        src={wireframe_4_5}
                        {...defaultImageSizes(wireframe_4_5)}
                        alt=''
                    />
                    <Image
                        src={wireframe_4_6}
                        {...defaultImageSizes(wireframe_4_6)}
                        alt=''
                    />
                    <Image
                        src={wireframe_4_7}
                        {...defaultImageSizes(wireframe_4_7)}
                        alt=''
                    />
                    <Image
                        src={wireframe_4_8}
                        {...defaultImageSizes(wireframe_4_8)}
                        alt=''
                    />
                </WireframeRail>
                <WireframeRail class='-translate-x-[10%] lg:-translate-x-[5%] laptop:-translate-x-0 marquee-slides-alter'>
                    <Image
                        src={wireframe_5_1}
                        {...defaultImageSizes(wireframe_5_1)}
                        alt=''
                    />
                    <Image
                        src={wireframe_5_2}
                        {...defaultImageSizes(wireframe_5_2)}
                        alt=''
                    />
                    <Image
                        src={wireframe_5_3}
                        {...defaultImageSizes(wireframe_5_3)}
                        alt=''
                    />
                    <Image
                        src={wireframe_5_4}
                        {...defaultImageSizes(wireframe_5_4)}
                        alt=''
                    />
                    <Image
                        src={wireframe_5_5}
                        {...defaultImageSizes(wireframe_5_5)}
                        alt=''
                    />
                    <Image
                        src={wireframe_5_6}
                        {...defaultImageSizes(wireframe_5_6)}
                        alt=''
                    />
                    <Image
                        src={wireframe_5_7}
                        {...defaultImageSizes(wireframe_5_7)}
                        alt=''
                    />
                    <Image
                        src={wireframe_5_8}
                        {...defaultImageSizes(wireframe_5_8)}
                        alt=''
                    />
                </WireframeRail>
        </div>
</section>
