---
import { Image } from 'astro:assets';
import defaultImageSizes from 'src/utils/defaultImageSizes';
import Container from '@c/Container.astro';
import Em from '@c/Em.astro';
import SectionHeading from './SectionHeading.astro';
import WireframeRail from './WireframeRail.astro';
import wireframe_15 from '@i/na/wireframe-15.png';
import wireframe_16 from '@i/na/wireframe-16.png';
import wireframe_17 from '@i/na/wireframe-17.png';
import wireframe_14 from '@i/na/wireframe-14.png';
import wireframe_13 from '@i/na/wireframe-13.png';
import wireframe_12 from '@i/na/wireframe-12.png';
import wireframe_11 from '@i/na/wireframe-11.png';
import wireframe_10 from '@i/na/wireframe-10.png';
import wireframe_9 from '@i/na/wireframe-9.png';
import wireframe_8 from '@i/na/wireframe-8.png';
import wireframe_7 from '@i/na/wireframe-7.png';
import wireframe_6 from '@i/na/wireframe-6.png';
import wireframe_5 from '@i/na/wireframe-5.png';
import wireframe_4 from '@i/na/wireframe-4.png';
import wireframe_3 from '@i/na/wireframe-3.png';
import wireframe_2 from '@i/na/wireframe-2.png';
import wireframe_1 from '@i/na/wireframe-1.png';
---

<style>
        .rails img {
                width: 60vw;
                box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
                @apply aspect-video h-auto rounded-lg border border-brand-grey lg:h-[16rem] lg:object-cover lg:[aspect-ratio:unset] laptop:h-[22.5rem];
        }
</style>
<section class='overflow-x-hidden pt-6 md:pt-40 pb-4 2xl:pb-20 md:pb-14 lg:pb-16'
        id="building"
        >
        <Container class='py-20 mx-auto'>
                <SectionHeading number='3'>Building Wireframes</SectionHeading>

                <p class='text-brand-grey text-2xl pb-12 tracking-[-0.06rem] lg:text-3xl xl:text-4xl laptop:text-5xl/[1.2]'>
                        With clear pain points and stakeholder requirements, it was easy to mock an <Em>MVP for the developers</Em> to start building.
                        Meanwhile the <Em>Alpha Group and I continued to explore features and refine solutions</Em>. And finally, <Em
                                >I put on my Design System hat and began culling Components and Patterns</Em
                        > we’d need to add to Lumen.
                </p>

                <div class='pb-8 body-text'>
                        <h3 class='text-brand-grey'>Elements</h3>
                        <div class='flex'>
                                <ul class='flex-1'>
                                        <li>Sidebar</li>
                                        <li>Content Area</li>
                                        <li>Tiles / List</li>
                                        <li>Filters</li>
                                </ul>

                                <ul class='flex-1'>
                                        <li>Preferences</li>
                                        <li>Dialogs</li>
                                        <li>Product Detail Page</li>
                                        <li>Search</li>
                                        <li>Download Manager</li>
                                </ul>
                        </div>
                </div>
        </Container>

        <div class='w-full rails pb-20'>
                <WireframeRail class='-translate-x-[87%] lg:-translate-x-[5%] laptop:-translate-x-0 marquee-slides-alter'>
                        <Image
                                src={wireframe_1}
                                        {...defaultImageSizes(wireframe_1)}
                                alt=''
                                class='h-auto w-full'
                        />
                        <Image
                                src={wireframe_2}
                                        {...defaultImageSizes(wireframe_2)}
                                alt=''
                        />
                        <Image
                                src={wireframe_3}
                                        {...defaultImageSizes(wireframe_3)}
                                alt=''
                        />
                </WireframeRail>
                <WireframeRail class='-translate-x-[130%] lg:-translate-x-[19%] marquee-slides'>
                        <Image
                                src={wireframe_4}
                                        {...defaultImageSizes(wireframe_4)}
                                alt=''
                        />
                        <Image
                                src={wireframe_5}
                                        {...defaultImageSizes(wireframe_5)}
                                alt=''
                        />
                        <Image
                                src={wireframe_6}
                                        {...defaultImageSizes(wireframe_6)}
                                alt=''
                        />
                        <Image
                                src={wireframe_7}
                                        {...defaultImageSizes(wireframe_7)}
                                alt=''
                        />
                </WireframeRail>
                <WireframeRail class='-translate-x-[85%] md:-translate-x-[39%] lg:-translate-x-[5%] laptop:-translate-x-0 marquee-slides-alter'>
                        <Image
                                src={wireframe_8}
                                        {...defaultImageSizes(wireframe_8)}
                                alt=''
                        />
                        <Image
                                src={wireframe_9}
                                        {...defaultImageSizes(wireframe_9)}
                                alt=''
                        />
                        <Image
                                src={wireframe_10}
                                        {...defaultImageSizes(wireframe_10)}
                                alt=''
                        />
                </WireframeRail>
                <WireframeRail class='-translate-x-[130%] lg:-translate-x-[19%] marquee-slides'>
                        <Image
                                src={wireframe_11}
                                        {...defaultImageSizes(wireframe_11)}
                                alt=''
                        />
                        <Image
                                src={wireframe_12}
                                        {...defaultImageSizes(wireframe_12)}
                                alt=''
                        />
                        <Image
                                src={wireframe_13}
                                        {...defaultImageSizes(wireframe_13)}
                                alt=''
                        />
                        <Image
                                src={wireframe_14}
                                        {...defaultImageSizes(wireframe_14)}
                                alt=''
                        />
                </WireframeRail>
                <WireframeRail class='-translate-x-[10%] lg:-translate-x-[5%] laptop:-translate-x-0 marquee-slides-alter'>
                        <Image
                                src={wireframe_15}
                                        {...defaultImageSizes(wireframe_15)}
                                alt=''
                        />
                        <Image
                                src={wireframe_16}
                                        {...defaultImageSizes(wireframe_16)}
                                alt=''
                        />
                        <Image
                                src={wireframe_17}
                                        {...defaultImageSizes(wireframe_17)}
                                alt=''
                        />
                </WireframeRail>
        </div>
</section>
